@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

:root {
    --eerie-black-2: hsl(220, 10%, 12%);
}

@font-face {
    font-family: 'iransans';
    src: url(../../public/assets/Fonts/fonts/ttf/IRANSansWeb_Medium.ttf);
}

* {
    font-family: iransans;
    user-select: none;
}

body,
html {
    background-color: #1d243d;
    background-image: url("../../public/assets/images/brandon-siu-nI7knd5sQfo-unsplash1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: var(--eerie-black-2);
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    width: 400px;
    height: 580px;

}

.box h4 {
    color: #5c6bc0;
    font-size: 18px;
    margin-top: 5px;
}

.box h4 span {
    color: #dfdeee;
    font-weight: lighter;
}

.box h5 {
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.box input[type="text"],
.box input[type="password"] {
    display: block;
    margin: 1px auto;
    background: #262e49;
    border: 1px solid #262e49;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #d6d6d6;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}

::-webkit-input-placeholder {
    color: #565f79;
}

a {
    color: #5c7fda;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label input[type="checkbox"] {
    display: none;
}

label span {
    height: 13px;
    width: 13px;
    border: 2px solid #464d64;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    left: 7.5%;
}

#signup-btn {
    margin-top: 17px;
    border: 0;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 100px;
    width: 340px;
    height: 49px;
    font-size: 16px;
    position: absolute;
    top: 79%;
    left: 8%;
    transition: 0.3s;
    cursor: pointer;
}

#signup-btn:hover {
    background: #5d33e6;
}

.rmb {
    position: absolute;
    margin-left: -24%;
    margin-top: 0px;
    color: #dfdeee;
    font-size: 13px;
}

.typcn {
    position: absolute;
    left: 339px;
    top: 282px;
    color: #3b476b;
    font-size: 22px;
    cursor: pointer;
}

.typcn.active {
    color: #7f60eb;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 605px;
    width: 100%;
    color: #78797d;
    font-size: 14px;
    text-align: center;
}

.footer .fa {
    color: #7f5feb;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #7f5feb;
}

.input-control.error input {
    border-color: #ff3860;
    margin-bottom: 2px;
}

.input-control .error {
    margin-bottom: 3px;
    float: right;
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.input-control {
    width: 200px;
    margin-right: 7%;
    margin-bottom: 18px;
}

img {
    margin-top: 20px;
    width: 80px;
}

.swal2-icon-error {
    color: white;
    background-color: #f27474 !important;
}

.swal2-icon-success {
    color: white;
    background-color: #a5dc86 !important;
}